<<<<<<< HEAD
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>About Us</h1>
            <p>Welcome to our eCommerce web app! This site is built as part of WEB322.</p>
        </div>
    </div>
</div>
=======
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>About Us</h1>
            <p>Welcome to our eCommerce web app! This site is built as part of WEB322.</p>
        </div>
    </div>
</div>
>>>>>>> 6e590bf57ced765152fd5f87548a28b8df625741
